.navbar {
    background: rgb(184, 31, 4) ;
}

.main {
    position: relative;
    overflow: hidden;
    height: 5000px;
}

body, html {
    background-color: #e83c3c;
    margin: 0;
    padding: 0;
    /* height: 100%; */
    height: 5000px;
}

.section-1 {
    padding-top: 50vh;
    padding-bottom: 100px;
}

.red-content {
    z-index: 100;
}

.red-content p{
    text-align: justify;
    align-items: center;
    top: 50%;
}

.logo {
    display: flex;
    justify-content: center;
}



.cloud {
    left: -300px;
    position:absolute;
    object-fit: cover;
    top:100px;
    z-index: 2;
}

.circle {
    left: -50%;
    position:absolute;
    object-fit: cover;
    top:150px;
    z-index: 1;
    width: "300px";
}

.city {
    bottom: 0;
    position:relative;
    z-index: 3;
}

.section-2{
    min-height: 100vh;
    z-index: 99;
}

.logo-red {
    width: 75%;
    background-color: white;
}
