body{
    background-color: #1c5c3c;
    overflow-x: hidden;
}

.section-1{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.section-1 .greenate-content{
    padding-right: 12%;
    padding-left: 5%;
}

.section-1 .greenate-content h1 {
    font-family: MADE Tommy Soft;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 122px;
    letter-spacing: 0em;
    
    color: white;
    /* animation: slideup 2s linear; */
}

.section-1 .greenate-content p{
    font-family: 'MADE Tommy Soft 2';
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;    
    text-align: justify;
    top: 50%;
    
    color: white;
    /* animation: slideup 2s linear; */
}

.section-1 .greenate-content ul{
    color: white;
    margin-bottom: 0;
    /* animation: slideup 2s linear; */
}

.section-1 .greenate-content button {
    color: #1c5c3c;
    background-color: #ffcc3c;
    font-family: MADE Tommy Soft;
    font-style: bold;
    font-weight: 800;
    border: none;
    border-radius: 25px;
    line-height: 1;
    /* animation: slideup 2s linear; */
}

.section-1 .greenate-content button:focus {
    border: none;
    outline: none;
    /* animation: slideup 2s linear; */
}


.section-2 h1{
    font-family: MADE Tommy Soft;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 122px;
    letter-spacing: 0em;
    margin-top: 30px;
    color: #ffcc3c;
}

.section-2 .carousel-control-next{
    padding: 15px;
    border-radius: 100%;
    width: auto;
    top: 50%;
    bottom: auto;
    background-color: #083c24;
    color: #ffcc3c;
    border: none;
    outline: none;
    right: 7%;
    left: auto;
    overflow: hidden;
}

.section-2 .carousel-control-prev{
    width: auto;
    border-radius: 100%;
    top: 50%;
    left: 7%;
    right: auto;
    bottom: auto;
    background-color: #083c24;
    color: #ffcc3c;
    border: 100%;
    border: none;
    outline: none;
}

.section-2 .carousel-control-next-icon{
    color: #ffcc3c;
}

.section-3{
    min-height: 100vh;
}

.section-3 .container {
    background-image: linear-gradient(180deg, #FCC306 0%, #FF9B0B 100%);
    border-radius: 40px 40px 0px 0px;
    box-shadow: 0px 1px 3px #050505;
    min-height: 200vh;
    position: relative;
    flex-flow: column wrap;
    overflow: hidden;
}

.section-3 .container h1{
    font-family: MADE Tommy Soft;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 122px;
    letter-spacing: 0em;
    margin-top: 30px;
    color: #ffffff;
}

.section-3 .content-choice .col-4 h2{
    font-family: MADE Tommy Soft;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
}

.section-3 .content-choice .col-4 .choices{
    font-family: MADE Tommy Soft;
    font-size: auto;
    font-style: normal;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: relative;
    flex-flow: column wrap;
    overflow: hidden;
    padding-bottom: 50px;
}

.section-3 .content-choice .col-4 .choices col{
    z-index: 3;
}

.section-3 .quest-logo{
    z-index: 10;
}

.section-3 .content-choice .col-4 .choices p{
    font-family: 'MADE Tommy Soft 2';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;    
    text-align: left;
    top: 50%;
    color: white;
}

.section-3 button{
    color: #ffcc3c;
    background-color: #1c5c3c;
    font-family: MADE Tommy Soft;
    border: none;
    border-radius: 13px;
    line-height: 1;
    font-size: x-large;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-3 h6{
    font-family: MADE Tommy Soft;
    font-size: 27px;
    font-style: normal;
    letter-spacing: 0em;
    font-weight: lighter;
    color: #1c5c3c;
}

.exhort{
    background-color: #ff9c0c;
}

.alter{
    background-color: #f094e4;
}

.tidbit{
    background-color: #089444;
}

.menu-circle{
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    position: absolute;
    background-color: #FFFFFF;
    transform: scale(1.7);
    top: -20%;
    left: 0;
    z-index: 1;
}

.leaf-1{
    opacity: 0.3;
    position: absolute;
    mix-blend-mode: overlay;
    z-index: -1;
    width: 13%;
    transform: scaleX(-1) rotate(29deg);
    right: 0;
    top: 7%;
}

.leaf-2{
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    mix-blend-mode: overlay;
    width: 13%;
    transform: scaleX(-1) rotate(29deg);
    right: 0;
    top: 60%;
}

.leaf-3{
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    width: 10%;
    transform: scaleX(-1) rotate(107deg);
    right: 0;
    top: 80%;
    mix-blend-mode: overlay;
}

.leaf-4{
    position: absolute;
    transform: scale(0.5) rotate(8deg);
    opacity: 1;
    left: -11%;
    top: 42%;
    mix-blend-mode: overlay;
}

.leaf-5{
    position: absolute;
    right: 3%;
    transform: scale(1.2) rotate(279deg);
    bottom: 0%;
    mix-blend-mode: overlay;
}

.white-circle {
    transform: scale(0.8) translate(-50%,-20%);
    position: absolute;
    background-color: #DFDFDF;
    z-index: 3;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    opacity: 0.3;
}

.chicken{
    top: 170%;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    width: 20%;
    left: -8%;
}

.burger{
    right: -7%;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    width: 17%;
    top: 300%;
}

.fries{
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    width: 20%;
    top: 360%;
    left: -7%
}

.burger-menu{
    opacity: 0.6;
    position: absolute;
    bottom: -10%;
    right: 3%;
    width: 50%;
    mix-blend-mode: overlay;
    bottom: 5%;
    right: -10%;
}

.pudding {
    opacity: 0.6;
    position: absolute;
    bottom: -10%;
    right: 3%;
    width: 50%;
    mix-blend-mode: overlay;
    bottom: 5%;
    right: -10%;
}

.soda{
    opacity: 0.3;
    position: absolute;
    bottom: -10%;
    right: 3%;
    width: 40%;
    mix-blend-mode: overlay;
}