body{
    min-height: 200vh;
    background-image: url(../../../images/oprec/oprec-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    display: block;
    opacity:1;
}
@media (max-width: 767px){
    [id=main-navigation-toggle] ~ label span, .toggler-container{
        opacity: 1;
        display: block;
      }
}
.container {
    color: #333;
    margin: 0 auto;
    text-align: center;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }
  
  #headline{
    font-family: 'Heavitas';
    color: #F4ECDC;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }
  
  #countdown ul li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    font-family: 'Heavitas';
    color: #F4ECDC;
    font-style: normal;
    font-weight: normal;
  }
  
  #countdown ul li span {
    display: block;
    font-size: 4.5rem;
  }
  
  .message {
    font-size: 4rem;
  }
  
  #content {
    display: none;
    padding: 1rem;
  }
  
  .emoji {
    padding: 0 0.25rem;
  }
  
  @media all and (max-width: 768px) {
    #headline {
      font-size: 1.5rem;
    }
  
    #countdown ul li {
      font-size: 1.125rem;
      padding: 0.75rem;
    }
  
    #countdown ul li span {
      font-size: 3.375rem;
    }
  }
  
