body{
    background: linear-gradient(180deg, #00B09B 0%, #001420 100%);
}

.welcome-blue-section{
    /* overflow: hidden;
    max-height: 100vh; */
    position: relative;
}

.logo-bg{
    width: 100%;
    height: 100%;

    z-index: -1;
}

.blue-logo{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 25%;
    z-index: 10;
}

.welcome-blue-section .welcome-blue-overlay{
    top: 0;
    left: 0;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: black;
}

.section-1 {
    position: relative;
    padding-top: 70px;
}

.bubbles-1{
    right: -5%;
    top: 50%;
    width: 5%;
    position: absolute;
    opacity: 0.6;
    overflow: visible;
}

.bubbles-2{
    left: -5%;
    top: 75%;
    width: 5%;
    position: absolute;
    opacity: 0.6;
    overflow: visible;
}

.bubbles-3{
    right: -5%;
    top: 50%;
    width: 5%;
    position: absolute;
    opacity: 0.4;
    overflow: visible;
}

.text-content-1 p{
    font-family: 'MADE Tommy Soft 3';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: justify;
    color: white;
}

.text-content-1 b{
    font-family: MADE Tommy Soft;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0em;
    text-align: justify;
    color: #0d3b53;
}



.clam{
    mix-blend-mode: screen;
    width: 50px;
}

.section-2, .section-3, .section-4, .section-5, .section-6 {
    position: relative;
    /* padding-top: 70px; */
}

.text-content-2 .first-text{
    font-family: MADE Tommy Soft;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #0d3b53;
}
.text-content-2 .second-text{
    font-family: MADE Tommy Soft;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.text-content-2 .third-text{
    font-family: 'MADE Tommy Soft 3';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: justify;
    color: white;
}

.text-content-3 {
    font-family: 'MADE Tommy Soft 3';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: justify;
    color: white;
}

.text-content-4{
    font-family: 'MADE Tommy Soft 3';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: justify;
    color: white;
}

.text-content-4 b{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: justify;

    color: #FFACA0;
}

.text-content-5{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 41px;

    color: #FFFFFF;
}

.text-content-5 b{
    color: #FFACA0;
}

.text-content-5 .sub{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;

    color: #FFACA0;
}

.text-content-6{
    font-family: MADE Tommy Soft;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.text-content-6 .sub{
    font-family: 'MADE Tommy Soft 3';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: justify;
    
    color: #FFFFFF;
}

.text-content-7{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    text-align: center;

    color: #FFFFFF;
}
.text-content-7 .sub{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    
    color: #FFFFFF;
    
}

.bottom-blue-button{
    padding: 1.5rem;
    border-radius: .15rem;
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    border: none;
    transition: 0.3s;
    background: linear-gradient(180deg, #5494A6 0%, #5494A6 14.58%, #004361 100%);
}

.bottom-blue-button:focus{
    outline: none;
    border: none;
}

.bottom-blue-button:hover{
    background: #40C6DA;
    cursor: pointer;
    transform: scale(1.02);
    color: #004462;
}

.wave{
    width: 100%;
}

.bubble1{
    position: absolute;
    width: 10%;
    transform: rotateY(180deg);
    right: 5%;
    top: 10%;
    opacity: 0.5;
    overflow: visible;
}
.bubble2{
    position: absolute;
    width: 10%;
    left: 5%;
    top: 75%;
    opacity: 0.5;
    overflow: visible;
}

.welcome-section{
    position: relative;
    font-family: MADE Tommy Soft;
    background-color: #40C6DA;
    margin-top: -0.5%;
    overflow: hidden;
}

.welcome-section .hello{
    color: #004462;
    font-size: 70px;
    line-height: 6rem;
    padding-top: 5%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-wrap: break-word;
}

.welcome-section .ready{
    color: #004462;
    font-size: 45px;
    width: 100%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 5%;
    text-align: justify;
}

.welcome-section .ecofriend-question{
    font-family: 'MADE Tommy Soft 3';
    color: #004462;
    margin-top: 2%;
    font-size: 30px;
    text-align: justify;
}


.submit-blue-button{
    background: linear-gradient(180deg, #5494A6 0%, #5494A6 14.58%, #004361 100%);
    padding: 1.5rem;
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    border: none;
    transition: 0.3s;
    margin-top: 5%;
    margin-bottom: 15%;
    border-radius: .2rem;
}

.submit-blue-button:focus{
    outline: none;
    border: none;
}

.submit-blue-button:hover{
    background: #73AFD1;
    cursor: pointer;
    transform: scale(1.02);
}

.submitted{
    background: linear-gradient(180deg, #CCCCCC 14.58%, #6D6D6D 100%);
    box-shadow: 3px 2px 4px rgb(0 0 0 / 25%);
    cursor: default;
}

.submitted:hover{
    background: linear-gradient(180deg, #CCCCCC 14.58%, #6D6D6D 100%);
    cursor: default;
}

@media(min-width:1900PX){
    .welcome-section .hello{
        font-size: 90px;
    }
    
    .welcome-section .ready{
        font-size: 60px;
    }
    
    .welcome-section .ecofriend-question{
        font-size: 40px;
    }
}

@media(max-width:768px){
    .container-blue-home p{
        font-family: MADE Tommy Soft;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: justify;
        color: white;
    }

    .bubble1, .bubble2{
        display: none;
    }
}

@media(max-width:576PX){
    .regulation-blue-button{
        margin-bottom: 2rem;
    }
    .welcome-section .hello{
        font-size: 60px;
        line-height: 4rem;
    }    
    .welcome-section .ready{
        font-size: 36px;  
    }
    .welcome-section .ecofriend-question{
        margin-top: 10%;
        font-size: 25px;
    }
    .submit-blue-button{
        font-size: 24px;
    }
}

@media(max-width:426px){
    .welcome-section .hello{
        font-size: 55px;
    }
    .welcome-section .ready{  
        font-size: 30px;
    }
    .welcome-section .ecofriend-question{
        margin-top: 10%;
        font-size: 23px;
    }
}