body{
    font-family: 'Made Tommy Soft';
}
header{
    padding-bottom: 50px;
    background-color: #D7110C ;
}
h1{
    color: red;
    font-family: "MADE Tommy Soft";
}
label{
    color:#ffc600;
    font-family: "MADE Tommy Soft";

}
.left-content{
    position: relative;
    min-height: 95vh;
    padding: 0;
    background-color: #EAEAEA;
}

.hydrant-shadow{
    width: 80%;
    text-align: center;
    position: absolute;
    bottom: 25%;
    transform: translate(-50%, 100%);
    left: 50%;
}
.greenate{
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.sendok1{
    position: absolute;
    width: 15%;
    height: 85%;
    left: -5%;
    top: 10%;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.sendok2{
    position: absolute;
    width: 15%;
    height: 85%;
    left: 15%;
    top: -25%;
    mix-blend-mode: normal;
    opacity: 0.1;
    transform: rotate(180deg);
}
.form{
    height: 100%;
    padding: 0;

}
.form-control{
    width: 85%;
    background-color: #fff5f5;
}
.has-error .form-control, .form-control.error {
    background-color: #ffc0a4;
    border-color: #eb5e28;
}
label.error:not(.form-control) {
    color: #eb5e28;
    font-weight: 300;
    font-size: 0.8em;
}
.error {
    font-family: "Made Tommy soft 2";
}
.button{
    margin-right: 2%;
    width: 120px;
    font-weight: bold;
    font-family:"MADE Tommy Soft 2";
    font-size: 1em;
    color: #ffc600;
    background-color: #f8ede3 ;
    border: 2px solid;
    border-radius: 15px;
    outline: none;
    transition: 0.5s;
}
.button:hover{
    color: white;
    background:#ffc600;
}
.button:focus{
    outline: none;
}
.btn-register{
    text-decoration: none;
    text-align: center;
}
.login-title{
    color:#008c15;
    font-size: 50px;
    font-family: 'Heavitas';
    letter-spacing: 2px;
}
/* #footer{
    padding-top: 3%;
    padding-bottom: 25px;
    background-image: linear-gradient(to right,#FC797D, #fc3f3f );
    text-align: center;
} */
/* Footer */
#contact {
    background-color: #601213;
}
.logo{
    width: 100px;
    padding-bottom: 10px;
    opacity: 50%;
}
.foot{
    margin-top: 1%;
    font-family: "MADE Tommy soft";
    text-align: center;
}

@media(max-width:767px) {
    .left-content{
        display: none;
    }
    .right-content{
        margin:auto;
        margin-top:20%;
    }
    .form{
        min-height: 95vh;
    }
    .form-control{
        width: 100%;
    }
}
@media(max-width:419px) {
    /* div#form{
        width: 70%;
        padding-top: 40%;
        padding-left: 25%;
    } */
    .button{
        width: 90px;
    }
}
