body{
    font-family: 'Made Tommy Soft';
}
header{
    padding-bottom: 50px;
    background-color: #D7110C ;
}
h1{
    color: red;
    font-family: "MADE Tommy Soft";
}
label{
    color:red;
    font-family: "MADE Tommy Soft";

}
.left-content{
    position: relative;
    min-height: 95vh;
    padding: 0;
}

.hydrant-shadow{
    width: 80%;
    text-align: center;
    position: absolute;
    bottom: 25%;
    transform: translate(-50%, 100%);
    left: 50%;
}
.hydrant{
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.form{
    height: 100%;

}
.form-control{
    width: 85%;
    background-color: #ffebeb;
}

.button{
    margin-right: 2%;
    width: 120px;
    font-family:"MADE Tommy Soft 2";
    font-size: 1em;
    color: #FC797D;
    background-color: #f8ede3 ;
    border: 2px solid;
    border-radius: 15px;
    outline: none;
    transition: 0.5s;
}
.button:hover{
    color: white;
    background:#FC797D;
}
.button:focus{
    outline: none;
}
.error{
    background-color: #ff7171;
}
.login-title{
    color:#DD2A2A;
    font-size: 50px;
    font-family: 'Heavitas';
    letter-spacing: 2px;
}

@media(max-width:767px) {
    .left-content{
        display: none;
    }
}
@media(max-width:419px) {
    div#form{
        width: 70%;
        padding-top: 40%;
        padding-left: 25%;
    }
}
