header{
    padding-bottom: 50px;
    background-color: #D7110C ;
}
h1{
    color: red;
    font-family: "MADE Tommy Soft";
}
label{
    color:red;
    font-family: "MADE Tommy Soft";

}
.BG{
    width: 105%;
    margin-left: -2%;
}
.alas{
    width: 75%;
    text-align: center;
    margin-top: -200px;
    margin-left: 13%;
}
.hydrant{
    width: 100%;
    margin-top: -95%;
}
.form{
    padding-top: 13%;
    width: 40%;
    margin-left: 4%;
    height: 100%;

}

.button{
    margin-bottom: 5%;
    margin-right: 2%;
    width: 120px;
    font-family:"MADE Tommy Soft 2";
    font-size: 1em;
    color: #FC797D;
    background-color: #f8ede3 ;
    border: 2px solid;
    border-radius: 15px;
    outline: none;
}
.error{
    background-color: #ff7171;
}
@media(max-width:768px) {
    img#image-left{
        display: none;
    }
    div#form{
        width: 70%;
        padding-top: 20;
        padding-left: 25%;
    }
}
@media(max-width:419px) {
    div#form{
        width: 70%;
        padding-top: 40%;
        padding-left: 25%;
    }
}
