/* 
    helper to hide elements that are available only for screen readers. 
*/

.screen-reader {
    width: var(--screenReaderWidth, 1px) !important;
    height: var(--screenReaderHeight, 1px) !important;
    padding: var(--screenReaderPadding, 0) !important;
    border: var(--screenReaderBorder, none) !important;

    position: var(--screenReaderPosition, absolute) !important;
    clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
    /* overflow: var(--screenReaderOverflow, hidden) !important; */
}
/*
  =====
  POPUP
  =====
  */

/*
  1. Creating the top and bottom gaps for the modal so that content doesn't touches window's edges
  */

.popup__content {
    margin: auto;
    justify-content: center;
}

.popup__content p {
    margin: auto;
    margin-top: 5%;
    text-align: center;
    font-family: "MADE Tommy Soft";
    font-weight: 400;
    font-size: 1em;
    width: 60%;
    /* text-shadow: 2px 2px #d8bd88; */
}

.infologo {
    width: 80%;
    margin: auto;
}
.pop-img {
    width: 33%;
    margin: auto;
    align-items: right;
}
.infologo-text {
    width: 55%;
    justify-content: left;
    margin: auto;
}
.infologo-text p {
    width: 100%;
    margin: 0;
    text-align: justify;
}

.text-color1 {
    color: #f56701;
    margin: 0;
}
.text-color2 {
    color: #d39c45;
}
.text-color3 {
    color: white;
}

.popup:not(:target) {
    display: none;
}

.popup:target {
    width: 100%;
    height: 100vh;

    display: flex;

    position: fixed;
    top: 0;
    right: 0;
}

.popup::before {
    content: "";
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* filter: blur(20px);
    -webkit-filter: blur(20px); */
    position: fixed;
    left: 0;
    top: 50%;
}

.popup::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: rgb(169, 169, 169);

    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
}

.popup__container {
    box-sizing: border-box;
    padding: 2% 3%;
    margin: 0;
    width: 100%;
    height: calc(100vh - 40px);
    margin: auto; /* 1 */
    overflow: auto; /* 1 */
    /* overscroll-behavior: contain;  */
}

/* .popup__title {
    --rTitleMarginBottom: 1.5rem;
    font-size: 1.5rem;
} */

.popup__close {
    width: 2rem;
    height: 2rem;

    position: fixed;
    top: 1.5rem;
    right: 1.5rem;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../../../images/oprec/cd-icon-close.svg);
}

/*
    animation
    */

.popup::before {
    will-change: height, top;
    animation: open-animation 0.6s cubic-bezier(0.83, 0.04, 0, 1.16) 0.65s both;
}

.popup::after {
    will-change: width, opacity;
    animation: line-animation 0.6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
}

@keyframes line-animation {
    0% {
        width: 0;
        opacity: 1;
    }

    99% {
        width: 100%;
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}

@keyframes open-animation {
    0% {
        height: 0;
        top: 50%;
    }

    100% {
        height: 100vh;
        top: 0;
    }
}

.popup__container {
    animation: fade 0.5s ease-out 1.3s both;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.open-popup {
    text-decoration: none;
}

.button {
    /* float: left; */
    /* min-width: 150px;
    max-width: 250px; */
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 2%;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    /* vertical-align: middle; */
    position: relative;
    z-index: 1;
    /* -webkit-backface-visibility: hidden; */
    -moz-osx-font-smoothing: grayscale;
}

.button--text-thick {
    font-weight: 600;
}

.button--round-l {
    border-radius: 40px;
}

.button.button--aylen {
    background: #c9b58c;
    color: white;
    font-family: "Cuprum", sans-serif;
    font-weight: normal;
    font-size: 1.3em;
    /* color: #df1666; */
    overflow: hidden;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    outline: none;
}


@media (max-width: 1080px) {
    /* .pop-img {
        width: 45%;
    }
    .popup__content p {
        width: 80%;
    } */
}
@media (max-width: 768px) {
    .pop-img {
        width: 45%;
        margin-bottom: 2%;
    }
    .infologo-text {
        width: 70%;
        margin: auto;
        text-align: center;
    }
    .infologo-text p {
        text-align: center;
    }
}
@media (max-width: 400px) {
    .popup__content p {
        font-size: 0.8em;
    }
    .button.button--aylen {
        font-size: 1em;
    }
}

.modalBlur {
    -webkit-filter: blur(10px);
    overflow: hidden;
}

.popup__container::-webkit-scrollbar {
    width: 0.3em;
}

.popup__container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.popup__container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
