body {
    margin: 0;
    font-family: "Heavitas";
    font-style: normal;
    font-weight: bold;
}
.swal2-content, .swal2-header{
    font-family: 'MADE Tommy Soft';
}
.main-container {
    margin: 0;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../images/oprec/oprec-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin: auto;
    width: 100%;
}

.oprec-logo {
    width: 35%;
    margin: auto;
    padding-top: 5%;
}

.oprec-text {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 2%;
    color: #f4ecdc;
}
.oprec-text h1 {
    font-size: 3.8vw;
}

.logo {
    width: 65%;
    margin: auto;
    margin-top: 7%;
    justify-content: center;
    padding-bottom: 10%;
}

.logo-tim {
    width: 33.33%;
    margin: auto;
}

.image-fluid {
    width: 100%;
}

@media (max-width: 768px) {
    .logo-tim {
        width: 50%;
        margin: 0;
    }
}

body::-webkit-scrollbar {
    width: 0.3em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

@media (max-width: 767px) {
    [id=main-navigation-toggle] ~ label span, .toggler-container{
        opacity: 1;
        display: block;
    }
}

[id=main-navigation-toggle] ~ label {
    position: absolute;
}
.toggler-container{
	position:absolute;
	background-color:#601C1D;
}
.navbar{
	background: transparent;
    position: absolute;
}