body {
    background-color: #ecdcbc;
}
.nav-item{
    box-sizing: border-box;
}
.form-group {
    width: 98%;
}
.form-date {
    width: 59.6%;
    display: inline-block;
}
.form-pob {
    width: 25%;
    display: inline-block;
}
.form-select {
    width: 96.6%;
}
.panel .row > * {
    padding-left: 0;
}
.img-question {
    width: 60%;
    margin: auto;
}
.text-smaller {
    font-size: 0.9em;
    margin-bottom: 0.2em;
}

@media (max-width: 800px) {
    .form-date {
        width: 58.6%;
    }
}
@media (max-width: 700px) {
    .form-date {
        width: 57.6%;
    }
}
@media (max-width: 600px) {
    .form-date {
        width: 90%;
    }
    .form-pob {
        width: 90%;
        margin-bottom: 0.5rem;
    }
    .form-select {
        width: 95.6%;
    }
    body {
        font-size: 0.75rem;
    }
    .form-control,
    .form-select {
        font-size: 0.75rem;
    }
    .wizard__title {
        font-size: 1rem !important;
    }
}
@media (max-width: 500px) {
    .form-select {
        width: 94.6%;
    }
}
@media (max-width: 400px) {
    .form-select {
        width: 93.6%;
    }
}
.label {
    padding: 3px 8px;
    border-radius: 12px;
    color: #ffffff;
    font-weight: 500;
    font-size: 0.75em;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1.5em;
}

.has-success .form-control,
.has-error .form-control,
.has-success .form-control:focus,
.has-error .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.has-error .form-control,
.form-control.error {
    background-color: #ffc0a4;
    color: #eb5e28;
    border-color: #eb5e28;
}
.has-success .form-control,
.form-control.valid {
    color: #66615b;
    border-color: #e8e7e3;
}
.has-error .form-control:focus,
.form-control.error:focus {
    background-color: #ffffff;
    border-color: #eb5e28;
}
.has-success .form-control:focus,
.form-control.valid:focus {
    background-color: #ffffff;
    border-color: #7ac29a;
}

label.error:not(.form-control) {
    color: #eb5e28;
    font-weight: 300;
    font-size: 0.8em;
}

.movingOutBackward {
    display: none;
}
.movingOutFoward {
    display: none;
}
.movingIn {
    display: block;
}

/* @charset "UTF-8"; */
@import url("https://fonts.googleapis.com/css?family=Dax:400,900");

.middle {
    width: 80%;
    text-align: center;
    margin: auto;
}
.middle h1 {
    font-family: "MADE Tommy Soft 2";
    color: #fff;
}
.middle input[type="radio"] {
    display: none;
}
.middle input[type="radio"]:checked + .box {
    background-color: #ec7601;
}
.middle input[type="radio"]:checked + .box span {
    color: white;
    transform: translateY(20px);
}
.middle input[type="radio"]:checked + .box span:before {
    transform: translateY(0px);
    opacity: 1;
}
.middle .box {
    width: 100px;
    height: 100px;
    background-color: #fff;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: "MADE Tommy Soft 2";
    font-weight: 900;
}
.middle .box:active {
    transform: translateY(10px);
}
.middle .box span {
    position: absolute;
    transform: translate(0, 38px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    font-size: 1em;
    user-select: none;
    color: #ec7601;
}

.hide {
    display: none;
}

.cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 2px 2px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
}
.cbx:not(:last-child) {
    margin-right: 6px;
}
.cbx:hover {
    background: rgba(0, 119, 255, 0.06);
}
.cbx span {
    font-family: "MADE Tommy Soft 2";
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}
.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
}
.cbx:hover span:first-child {
    border-color: #ec7601;
}
.inp-cbx {
    position: absolute;
    visibility: hidden;
}
.inp-cbx:checked + .cbx span:first-child {
    background: #ec7601;
    border-color: #ec7601;
    animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}
@-moz-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}
@-webkit-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}
@-o-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}
@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}
/* Add ons */
#place_of_birth-error, #birthdate-error{
    display: flex;
}
.next{
    float: right;
    margin-right: 89px;
}
.fin{
    float: right;
    margin-right: 89px
}
@media (max-width: 767px) {
    [id=main-navigation-toggle] ~ label span, .toggler-container{
        opacity: 1;
        display: block;
    }
}
[id=main-navigation-toggle] ~ label {
    position: absolute;
}
[id=main-navigation-toggle] ~ label span {
    height: 1rem;
    width: 1rem;
}
.toggler-container{
	position:absolute;
	background-color:#601C1D;
}
.secondform{
	width: 86%;	
}
.navbar{
	background: transparent;
}