.main{
    flex-flow: column wrap;
    overflow: hidden;
    background-color: #F4F4F4;
    display: flex;
}

.banner{
    padding-top:40px;
    min-height: 60vh;
    background-image: linear-gradient(0deg, #1B5A3B, #1B5A3B);
    position: relative;
    flex-flow: column wrap;
    overflow: hidden;
    padding-left: 10%;
}

.banner-text{
    padding-top: 200px;
    bottom: 0;
    padding-bottom: 30px;
}

.banner h3{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 56px;
    text-align: left;
    color: white;
}

.banner h1{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 82px;
    line-height: 108px;
    text-align: left;
    color: white;
}



.order-wrapper{
    position: relative;
}

.order-content{
    z-index: 5;
}

.order-button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    background-color: #ffcc3c;
    color: #1B5A3B;
}

.order-button{
    background-color: #1B5A3B;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    padding: 100px;
    color: #FFCF00;
    transition: all 0.2s ease-in-out;
}


.order-button h2{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;

    
}

.leaf-1{
    position: absolute;
    mix-blend-mode: overlay;
    width: 30%;
    position: absolute;
    width: 250px;
    left: -10px;
    bottom: 0;
}

.fries{
    position: absolute;
    opacity: 0.5;
    right: -60px;
    bottom: -120px;
    width: 23%;
}
.soda{
    position: absolute;
    right: 14%;
    bottom: -78%;
    width: 19%;

}

.leaf-2{
    position: absolute;
    width: 30%;
    opacity: 0.5;
    transform: scaleX(-1);
    left: -5%;
    top: 20%;
}
.leaf-3{
    position: absolute;
    opacity: 0.5;
    right: -4%;
    width: 30%;
    top: 30%;
}

.leaf-4{
    position: absolute;
    z-index: 1;
    width: 30%;
    opacity: 0.5;
    bottom: -5%;
    right: -5%;
}

.cutting-board{
    position: absolute;
    left: -15%;
    bottom: -30%;
    opacity: 0.5;
}


.item-wrapper{
    padding: 30px;
    border: 2px solid #1B5A3B;
    box-sizing: border-box;
    border-radius: 50px;
    
}

.order-list p{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

.order-list button:hover{
    background-color: #e7e6e6;
    color: #1c5c3c;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.order-list button{
    transition: all 0.2s ease-in-out;
    color: #F4F4F4;
    background-color: #1c5c3c;
    z-index: 10;
    font-family: MADE Tommy Soft;
    font-style: bold;
    font-weight: 800;
    border: none;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;    
    line-height: 1;
    padding: 20px;
    width: 100%;
}

.submit-twibbon-button button:focus{
    outline: none;
}

.logout{
    position: absolute;
    right: 10%;
    top: 20%;
    text-decoration: none;
    color: white;
    letter-spacing: 5px;
    text-align:center;
}

.logout:hover{
    text-decoration: none;
    color: #e8d3d3;
}

@media (max-width: 1026px){

    .soda{
        position: absolute;
        right: 14%;
        bottom: -42%;
        width: 15%;
    
    }

    .fries{
        position: absolute;
        opacity: 0.5;
        right: -60px;
        bottom: -90px;
        width: 22%;
    }

}

@media (max-width: 890px){
    .soda{
        display: none;
    }

    .fries{
        display: none;
    }

    .order-button{
        padding: 60px;
    }
    .order-button h2{
        font-size: 32px;
        line-height: 44px;
    }
}


@media (max-width: 512px){
    .order-button{
        padding: 40px;
    }
    .order-button h2{
        font-size: 26px;
        line-height: 36px;
    }

    .banner h3{
        font-family: MADE Tommy Soft;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 30px;
        text-align: left;
        color: white;
    }
    
    .banner h1{
        font-family: MADE Tommy Soft;
        font-style: normal;
        font-weight: bold;
        font-size: 52px;
        line-height: 88px;
        text-align: left;
        color: white;
    }
}

@media (max-width: 350px){
    .banner h3{
        font-family: MADE Tommy Soft;
        font-style: normal;
        font-weight: bold;
        font-size: 18px!important;
        line-height: 15px;
        text-align: left;
        color: white;
    }
    
    .banner h1{
        font-family: MADE Tommy Soft;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        text-align: left;
        color: white;
    }
}