body {
    margin: 0;
    font-family: "MADE Tommy Soft";
    font-style: normal;
    font-weight: bold;
    background-color: #e8d3d3;
}
.swal2-content, .swal2-header{
    font-family: 'MADE Tommy Soft';
}

.main-container {
    margin: 0;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    /* background-image: url(../../../images/home/graphics_1.png); */
    background-size: cover;
    background-repeat: no-repeat;
    
}

.content-container{
    margin-left: 15%;
}

/* styling header */
.profile-header {
    width: 100%;
    margin: auto;
    position: relative;
    padding-top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile-eco-friend{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 65px;
    color: #FFF;
    margin-left: 15%;
}

.profile-name{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: 700;
    font-size: 92px;
    line-height: 65px;
    color: #FFF;
    margin-left: 15%;
}

.profile-data{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 100px;
    color: #161616;
    
}

.profile-name-eco-friend{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
    color: #161616;
    
}

.profile-nim-eco-friend{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
    color: #161616;
}

.profile-email-eco-friend{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
    color: #161616;
    
}

.logout{
    position: absolute;
    right: 10px;
    top: 20px;
    text-decoration: none;
    color: white;
    letter-spacing: 5px;
}

.logout img{
    width: 100px;
}

.profile-journey{
    position: absolute;
    right: 0;
    width: 60%;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF416C,#FF4B2B );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF416C, #FF4B2B ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    font-size: 60px;
}

.profile-journey p{
    height: 100%;
    text-align: center;
    margin-bottom: 0;
}

.count-container{
    margin-top: 12%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 50px;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
}

.day-count p{
    font-size: 130px;
    font-weight: 900;
}

.day-left p{
    font-size: 50px;
}

.time-count{    
    position: absolute;
    right: 0;
    width: 50%;
    height: 150px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #FF416C;  /*fallback for old browsers*/
    background: -webkit-linear-gradient(to right, #FF416C,#FF4B2B );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF416C, #FF4B2B ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
 }
.time-count p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}    

@media (max-width: 768px) {
    .logo-tim {
        width: 50%;
        margin: 0;
    }
}

body::-webkit-scrollbar {
    width: 0.3em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

@media (max-width: 767px) {
    [id=main-navigation-toggle] ~ label span, .toggler-container{
        opacity: 1;
        display: block;
    }
}

[id=main-navigation-toggle] ~ label {
    position: absolute;
}
.toggler-container{
	position:absolute;
	background-color:#601C1D;
}
.navbar{
	background-color: #b34646;
}