body{
    background: linear-gradient(180deg, #4894a4  0%, #4894a4 100%);
}
header {
    /* background-image: linear-gradient(to right, #7FC8A9, #fc3f3f); */
    background-color: #4894a4;
    margin-bottom: 2%;
    padding-top: 10rem;
    padding-bottom: 3rem;
    position: relative;
    overflow: hidden;
}
.header-font p {
    width: 100%;
    padding-top: 0%;
    color: seashell;
    font-family: "MADE Tommy Soft 3";
    font-size: 40px;
    margin: 0;
}

.header-deco{
    position: absolute;
    right: 10%;
    top: 35%;
    width: 13%;
}

.image-coral{
    position: absolute;
    width: 15%;
    top: 25%;
    right: 12%;
}

.image-shell{
    position: absolute;
    width: 30%;
    left: -2%;
    top: 30%;
    opacity: 0.2;
}

.h2 {
    text-align: center;
}
.salam {
    float: right;
}
.in {
    padding-left: 5%;
}
.regulation-obj {
    overflow: scroll;
    font-family: 'MADE Tommy Soft 2';
    width:100%; 
    height:650px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: darkred;
}
a:hover{
    text-decoration: none;
}
.link {
    text-align: center;
    border: 1px solid;
}
.rules{
    word-wrap: break-word;
    height: 650px;
    overflow: scroll;
    border: 1px solid #ccc;
    text-align: justify;
    font-family: 'MADE Tommy Soft 2';
}
.BG {
    width: 100%;
}

label {
    font-family: "MADE Tommy Soft";
    /* color: #92967d; */
    color: #545839;
}
.check {
    color: #FFFFFF;
    font-family: "MADE Tommy soft 3"!important;
    vertical-align: middle;
    font-size: 1.25rem;
    flex-wrap: inherit;
    cursor: pointer;
}
[id=main-navigation-toggle] ~ label {
    position: absolute;
}
.toggler-container{
	position:absolute;
}
.navbar{
    position: absolute;
}

.form {
    padding-top: 20px;
    padding-bottom: 2%;
}
.form-control {
    background-color: #fff5f5;
    font-family: "MADE Tommy soft 3";
}
.has-error .form-control,
.form-control.error {
    background-color: #ffc0a4;
    /* color: #eb5e28; */
    border-color: #eb5e28;
}
label.error:not(.form-control) {
    color: #ffadad;
    font-size: 0.9em;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.registration-button {
    font-family: "MADE Tommy Soft";
    font-weight: bold;
    color: #FFFFFF;
    background: #00C7E2;
    mix-blend-mode: normal;
    border-radius: 8px;
    outline: none;
    position: relative;
    transition: 0.3s;
    border: none;
}

.registration-button:hover {
    background: #fff;
    color: #00C7E2;
}
.registration-button:focus {
    outline: none;
}
.tombol {
    padding-bottom: 20px;
    text-align: center;
}
#next-btn {
    padding: 1rem 1.5rem;
}
/* #footer {
    margin-top: 10%;
    padding-top: 3%;
    padding-bottom: 25px;
    background-image: linear-gradient(to right, #7FC8A9, #fc3f3f);
    text-align: center;
} */
/* Footer */
.navbar{
    background: none;
}
.logo {
    width: 100px;
    padding-bottom: 10px;
    opacity: 50%;
}
.foot {
    margin-top: 1%;
    font-family: "MADE Tommy soft";
    text-align: center;
}
.step {
    display: none;
}
.step.active {
    display: block;
}
.error-message {
    color: #d8000c;
    background-color: #ffd2d2;
    border-radius: 5px;
    padding-left: 3px;
}
.popup-choice{
    position: absolute;
    width: 40%;
    height: 35%;
    left: 33%;
    top: 30%;
    background: #FFFFFF;
    border-radius: 77px;
}
#popup-desc{
    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 3em;
    text-align: center;

    color: #346B50;
}

#btn-choice1{   
    position: absolute;
    width: 35%;
    height: 40%;
    left: 10%;
    top: 30%;

    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
}

#btn-choice2{
    position: absolute;
    width: 35%;
    height: 40%;
    left: 55%;
    top: 30%;

    font-family: MADE Tommy Soft;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
}

.regulasiBlue a{
    text-decoration: none;
    color: #fff;
    background-color: #00C7E2;
    font-family: MADE Tommy Soft;
    font-weight: 800;
    border: none;
    border-radius: 15px;
    line-height: 1;
    mix-blend-mode: normal;
}   

/* .regulasiBlue a:hover{
    background: #00C7E2;
    transition-duration: 1s;
} */

.regulasiBlue a:focus {
    border: none;
    outline: none;
    /* animation: slideup 2s linear; */
}
@media(max-width:2560px){
    header{
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    .header-font p{
        font-size: 60px;
    }
    .image-coral{
        right: 15%;
        width: 16%;
    }
    .image-shell{
        left: 0%;
        width: 33%;
        opacity: 0.1;
    }
}
@media(max-width:1840px){
    header{
        padding-bottom: 5rem;
    }
    .header-font p{
        font-size: 50px;
    }
    .image-coral{
        right: 10%;
        width: 18%;
    }
    .image-shell{
        left: -1%;
        width: 34%;
    }
}
@media (max-width: 1455px) {
    header{
        padding-bottom: 3rem;
    }
    .header-font p{
        font-size: 40px;
    }
    .image-coral{
        width: 18%;
        top: 25%;
        right: 11%;
    }
    
    .image-shell{
        width: 41%;
        left: -5%;
        top: 23%;
    }
}

@media (max-width: 1250px) {
    /* .check {
        vertical-align: middle;
    } */
    .image-coral{
        width: 19%;
        top: 30%;
        right: 10%;
    }
    .image-shell{
        left: -3%;
        top: 33%;
        width: 45%;
    }
}
.new{
    display: none;
}
@media (max-width:1024px){
    .image-coral{
        width: 23%;
        top: 33%;
        right: 7%;
    }
    .image-shell{
        left: -4%;
        top: 39%;
        width: 48%;
    }
}

@media (max-width: 769px) {
    .old{
        display: none;
    }
    .new{
        display: flex;
        height: 20vh;
    }
    header{
        padding-top: 6rem;
        padding-bottom: 2rem;
    }
    .header-font p{
        font-size: 30px;
    }
    .image-coral {
        display: none;
    }
    .image-shell{
        left: 52%;
        top: 36%;
        width: 55%;
    }
}
@media (max-width: 600px) {
    .image-shell{
        top: 30%;
        width: 71%;
        left: 42%;
    }
}
@media (max-width: 426px) {
    div#form {
        width: 60%;
        padding-top: 40%;
        padding-left: 20%;
    }
    .header-font p{
        font-size: 25px;
    }
    label.check {
        font-size: 0.8em;
    }
    .image-shell{
        top: 40%;
        width: 74%;
        left: 40%;
    }
}
@media (max-width: 361px) {
    .image-shell{
        top: 41%;
        width: 94%;
        left: 45%;
    }
}
.swal2-html-container{
    font-family: "MADE Tommy soft";
}


.check-2{
    color: #1B5A3B;
}
#submit-btn{
    padding: 0.75rem 4.5rem;
}

.submit-blue-btn{
    background: #00C7E2;
    mix-blend-mode: normal;
    border-radius: 8px;
    padding: 7px 35px;
    border: none;
    outline: none;
    color: white;
    font-family: MADE Tommy Soft;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    transition: 0.5s;
}

.submit-blue-btn:focus{
    outline: none;
    border: none;
}

.submit-blue-btn:hover{
    background-color: #FFFFFF;
    color: #00C7E2;
    transform: scale(1.02);
}
.registerform label {
    font-family: "MADE Tommy Soft";
    /* color: #92967d; */
    color: #FFFFFF;
}
input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    padding: 0;
  
    display: grid;
    place-content: center;
    margin-top: 0.3rem;
    margin-right: 1rem;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 50ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: wheat;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}