body{
    background: #E5E5E5;
    min-height: 100vh;
}
.navbar{
    background: #2A6B49;
}
.twibbon-header{
    background: #2A6B49;
    padding: 6rem 0rem 5rem 0rem;
    text-align: center;
}
.twibbon-header-title{
    font-size: 3rem;
    font-family: "MADE Tommy Soft 3";
    font-weight: bold;
    color: #FFCB3D;
}
.leaf-image-left{
    position: absolute;
    height: 245px;
    left: 0;
    top: 0;
    transform: rotate(180deg);
    mix-blend-mode: screen;
}
.leaf-image-right{
    position: absolute;
    height: 245px;
    right: 0;
    top: 0;
    mix-blend-mode: screen;
}
.pizza-image{
    position: absolute;
    transform: scaleX(-1);
    left: 0;
    width: 20%
}
.chicken-image{
    position: absolute;
    right: 0;
    width: 20%
}
.twibbon-content{
    font-family: "MADE Tommy Soft 3";
    text-align: center;
    padding-bottom: 15vh;
    overflow: hidden;
}
.twibbon-title{
    font-size: 2rem;
    color: #1B5A3B;
}
.twibbon-subtitle{
    margin: auto;
    max-width: 30rem;
    font-family: "MADE Tommy Soft";
    font-size: 1rem;
    color: #1B5A3B;
}
.twibbon-image{
    background: black;
    height: 300px;
}
.upload-photo-btn, .download-photo-btn{
    background: #FFC600;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.upload-photo-label:hover, .download-photo-btn:hover{
    transform:scale(1.1);
    cursor: pointer;
    color: #FFFFFF;
    transition-duration: 0.5s;
    outline: none;
}
.twibbon-switcher{
    display: flex;
    width: 75%;
    margin: auto;
}
.exhort-button, .alter-button, .tidbit-button{
    cursor: pointer;
}
.selected{
    background: #FFC600;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.exhort-image, .alter-image, .tidbit-image{
    width: 80%;
}
.exhort-button:hover, .alter-button:hover, .tidbit-button:hover{
    transform:scale(1.1);
    transition-duration: 0.5s;
}
.fries-image{
    position:absolute;
    width: 250px;
    left: -5%;
    top: 10%;
    opacity: 0.3;
    z-index: -1;
}
.burger-image{
    position:absolute;
    width: 250px;
    right: -5%;
    top: 60%;
    opacity: 0.3;
    z-index: -1;
}
@media only screen and (max-width: 700px) {
    .pizza-image{
        width: 30%;
    }
    .chicken-image{
        display: none;
    }
    .leaf-image-left{
        display: none;
    }
    .leaf-image-right{
        display: none;
    }
    .fries-image{
        top: 15%;
    }
    .burger-image{
        top: 40%;
    }
}
@media only screen and (max-width: 500px) {
    .pizza-image{
        display: none;
    }
}
.jcrop-widget .jcrop-handle{
    display:none;
    position:absolute;
    border:0px rgba(127,127,127,0.8) solid;
    width:10px;
    height:10px;
    box-sizing:border-box;
    background:transparent
}